<html>
<title>AHORCADO</TITLE>
<body>
<h1 align=center>A H O R C A D O</h1>
<br>
<div align=center>
<form method=post action="Iniciar">
<input type=submit value="Iniciar"/>
</form>
</div>
</body>
</html>
