<html>
<title>AHORCADO - Jugando</TITLE>
<body>
<h1 align=center>A H O R C A D O</h1>
<br>

<div align=center>
<form method=post action="Iniciar" id="Juego">
<div align=center>
<input type=submit id="A" value="A"/>
</div>
</form>
<div algin=center>
<%= @mensaje %>
</div>
</div>
</body>
</html>
